:root{
  --firstcolor: #ffffff;
  --firstcolorhover: #dadada;
  --secondcolor: #111111;
  --thirdcolor: #323232;
  --fourthcolor: #717171;
  --hlineheight: 65px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
/* styles */
.white-btn{
  color: var(--firstcolor);
  padding: 15px 40px;
  border: 1px solid var(--firstcolor);
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 2px;
  position: relative;
  transition: .3s ease;
}
.white-btn:hover{
  color: var(--firstcolorhover);
  border-color: #797979;
}
.black-btn{
  color: var(--firstcolor);
  padding: 15px 40px;
  background-color: var(--secondcolor);
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 2px;
  position: relative;
  transition: .3s ease;
}
.black-btn:hover{
  color: var(--firstcolorhover);
  background-color: #111111f6;
}
.line-style{
  display: flex;
  align-items: center;
  width: 100px;
  margin-bottom: 4rem;
}
.line-style .circle{
  width: 11px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--fourthcolor);
  margin-right: 5px;
}
.line-style .line{
  width: 60px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--fourthcolor);
  border: 1px solid var(--fourthcolor);
}
.rectangle-style{
  position: absolute;
  z-index: -10;
  left: 45%;
  top: 63%;
  transform: translate(-45%, -63%);
}
.rectangle-style .rectangle{
  width: 400px;
  height: 300px;
  background-color: #eeeeee;
  border-radius: 0 100px 10px 0;
}
.rectangle-inverted-style{
  position: absolute;
  z-index: -10;
  left: 55%;
  top: 63%;
  transform: translate(-55%, -63%) rotate(180deg) scaleY(-1);
}
.rectangle-inverted-style .rectangle{
  width: 400px;
  height: 300px;
  background-color: #eeeeee;
  border-radius: 0 100px 10px 0;
}
.lines{
  position: absolute;
  top: -5%;
  left: 45%;
}
.lines .line{
  width: 150px;
  height: 7px;
  background-color: #8b674b;
}
.lines .line:not(:last-child){
  margin-bottom: 10px;
}
/* styles */
/* nav */
nav{
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100px;
  background-color: transparent;
  color: var(--firstcolor);
  z-index: 1000;
}
nav .nav-bar{
  display: none;
  cursor: pointer;
  font-size: 25px;
  margin-left: 5%;
}
nav .nav-ex{
  display: none;
  cursor: pointer;
  font-size: 25px;
}
nav .logo{
  margin-left: 5%;
}
nav .logo h1{
  letter-spacing: 1.2px;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
}
ul{
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 400px;
}
ul li{
  font-weight: 300;
  letter-spacing: 1.2px;
  cursor: pointer;
}
/* nav */
/* intro */
.intro{
  background-color: var(--secondcolor);
  color: var(--firstcolor);
  display: flex;
  height: 700px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}
.intro img{
  height: 900px;
  object-fit: cover;
  position: absolute;
  top: -15%;
  left: 60%;
  animation: image-rotate 200s linear infinite;
}
@keyframes image-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro .text-container{
  position: absolute;
  top: 28%;
  left: 5%;
  width: 550px;
}
.intro .text-container h1{
  font-weight: 300;
  font-size: 50px;
  line-height: var(--hlineheight);
}
.intro .text-container p{
  font-weight: 100;
  font-size: 18px;
  margin: 1rem 0 2rem 0;
  line-height: 30px;
  width: 350px;
}
/* intro */
/* first-section */
.first-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: -80px auto 8rem auto;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}
.first-section .pic-container{
  margin: 0 4rem 0 5%;
  width: 500px;
}
.first-section .pic-container img{
  box-shadow: 0px 50px 100px 1px #95959538
}
.first-section .text-container{
  margin-right: 5%;
  width: 500px;
}
.first-section .text-container h1{
  font-weight: 700;
  font-size: 40px;
  width: 400px;
  line-height: var(--hlineheight);
  color: var(--thirdcolor);
}
.first-section .text-container p{
  font-weight: 400;
  font-size: 18px;
  width: 500px;
  margin: 1rem 0 2rem 0;
  line-height: 30px;
  color: #615959;
}
/* first-section */
/* second-section */
.second-section{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}
.second-section .pic-container{
  margin-right: 5%;
  width: 500px;
}
.second-section .pic-container img{
  box-shadow: 0px 50px 100px 1px #95959538
}
.second-section .text-container{
  margin: 0 4rem 0 5%;
  width: 500px;
}
.second-section .text-container h1{
  font-weight: 700;
  font-size: 40px;
  width: 400px;
  line-height: var(--hlineheight);
  color: var(--thirdcolor);
}
.second-section .text-container p{
  font-weight: 400;
  font-size: 18px;
  width: 500px;
  margin: 1rem 0 2rem 0;
  line-height: 30px;
  color: #615959;
}
/* second-section */
/* third-section */
.third-section{
  background-color: var(--secondcolor);
  margin: -80px 0 8rem 0;
}
.third-section .third-section-content{
  color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.third-section .wrapper{
  width: 500px;
  margin: 10rem 0 7rem 0;
}
.third-section .text-container{
  margin-right: 4rem;
}
.third-section .wrapper-content:nth-child(1){
  margin-top: 5rem;
}
.third-section .wrapper-content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
}
.third-section .wrapper-content:not(:last-child){
  border-bottom: 1px solid var(--fourthcolor);
  margin-bottom: 15px;
}
.third-section .third-section-content img{
  width: 140px;
  height: 90px;
  position: relative;
}
.third-section .third-section-content .pic-content{
  margin-right: 50px;
}
.third-section .content p{
  font-weight: 100;
}
.third-section h1{
  font-weight: 700;
  font-size: 40px;
  width: 400px;
  line-height: var(--hlineheight);
}
.third-section .text-container p{
  font-weight: 100;
  font-size: 18px;
  width: 500px;
  margin: 1rem 0 2rem 0;
  line-height: 30px;
}
.third-section .text-pic-line{
  position: absolute;
  left: 27%;
  top: 14%;
  transform: translate(-27%, -14%);
  width: 50px;
  height: 1px;
  background-color: #cccccc;
}
/* third-section */
/* fourth-section */
.fourth-section{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto 8rem auto;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}
.fourth-section .content{
  width: 500px;
}
.fourth-section .pic-container{
  margin-right: 5%;
}
.fourth-section .pic-container img{
  height: 750px;
  width: 500px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 50px 100px 1px #95959538
}
.fourth-section h1{
  font-weight: 700;
  font-size: 40px;
  width: 400px;
  line-height: var(--hlineheight);
  color: var(--thirdcolor);
}
.fourth-section p{
  font-weight: 400;
  font-size: 18px;
  width: 500px;
  margin: 1rem 0 2rem 0;
  line-height: 30px;
  color: #615959;
}
.fourth-section h4{
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  color: var(--fourthcolor);
  font-weight: 300;
  letter-spacing: 1.2px;
}
.fourth-section .content .ftext{
  padding-top: 4rem;
}
.fourth-section .content .ttext{
  font-weight: 500;
  position: relative;
}
.fourth-section .content .ttext::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  left: -30%;
  transform: translate(30%, -50%);
  background-color: var(--fourthcolor);
  z-index: -1;
}
/* fourth-section */
/* fifth-section */
.fifth-section{
  position: relative;
  width: 100%;
  height: 250px;
}
.fifth-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fifth-section .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}
.fifth-section .text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fifth-section .text-container h1{
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.2px;
  color: #eeeeee;
}
/* fifth-section */
/* footer */
footer{
  background-color: var(--secondcolor);
  color: var(--firstcolor);
}
footer .footer-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--fourthcolor);
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 5rem 0 .5rem 0;
}
footer a{
  color: var(--firstcolor);
  font-size: 25px;
  margin-right: 5px;
}
footer .content{
  width: 280px;
  letter-spacing: 1.2px;
  margin: 0 0 1rem 0;
}
footer .content:not(:last-child){
  margin-right: 1.5rem;
}
footer .content:not(:first-child){
  text-align: center;
  padding: 1rem 0;
}
footer .foot-time p{
  text-align: left;
}
footer h1{
  letter-spacing: 1.2px;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
}
footer h3{
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
footer .content p{
  font-weight: 100;
  font-size: 13px;
  line-height: 30px;
}
footer .outro{
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.2px;
}

/* footer */

@media screen and (max-width: 768px) {
  /* nav .logo{
    order: 1;
  } */
  nav{
    z-index: 10000;
  }
  nav .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondcolor);
    margin: 0;
    display: block;
    padding: 5rem;
    transition: .7s ease-in-out;
    opacity: 1;
  }
  nav .nav-links.show-nav{
    left: -100%;
    opacity: 0;
  }
  nav ul li{
    text-align: center;
    margin: 4rem 0;
    width: auto;
  }
  nav .nav-bar{
    display: block;
  }
  nav .nav-ex{
    display: block;
    z-index: 10000;
  }
  nav .logo{
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .intro .text-container{
    width: 400px;
  }
  .intro img{
  height: 700px;
  top: 15%;
  }
  .first-section{
    margin: -40px auto 2rem auto;
  }
  .first-section .pic-container{
    margin: 0;
    width: 500px;
    height: 600px;
  }
  .first-section img{
    height: 100%;
    width: 100%;
  } 
  .first-section .text-container{
    margin: 1rem 0 0 0;
  }
  .second-section{
    margin: 0 auto 0 auto;
  }
  .second-section .pic-container{
    margin: 0;
    width: 500px;
    height: 600px;
    order: 0;
  }
  .second-section img{
    height: 100%;
    width: 100%;
  } 
  .second-section .text-container{
    margin: 1rem 0 0 0;
    order: 1;
  }
  .second-section .lines{
    left: 5%;
  }
  .third-section{
    margin: 0;
  }
  .third-section .text-container{
    margin: 5rem auto 2rem auto;
  }
  .third-section .text-pic{
    margin: 0 auto 4rem auto;
  }
  .third-section .wrapper-content:nth-child(1){
    margin: 1rem 0;
  }
  .fourth-section{
    margin: 3rem auto;
  }
  .fourth-section .pic-container{
    margin: 0;
    width: 500px;
    height: 600px;
  }
  .fourth-section .content img{
    height: 100%;
    width: 100%;
  } 
  .fourth-section .text-container{
    margin: 1rem 0 0 0;
  }
  .fourth-section .lines{
    left: 75%;
    top: 1%;
  }
  .fourth-section .category .text{
    padding-top: 2rem;
  }
  .fourth-section .category .ttext::before{
    display: none;
  }
  .fourth-section .text-container .category{
    order: 0;
    display: flex;
    justify-content: space-between;

  }
  .fourth-section .category .ttext{
    border-bottom: 1px solid var(--fourthcolor);
  }
  .fifth-section .text-container{
    width: 100%;
  }
  footer .footer-content .content:not(:disabled){
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 500px) {
  .intro .text-container{
    top: 25%;
  }
  .intro .text-container h1{
    font-size: 2.8em;
  }
  .intro .text-container p{
    font-size: 1em;
    width: 300px;
  }
  .first-section .content, .second-section .content, .fourth-section .content{
    width: 95%;
  }
  .third-section .third-section-content{
    width: 85%;
  }
  .first-section .content h1, .second-section .content h1, .third-section .text-container h1, .fourth-section .text-container h1{
    width: auto;
  }
  .first-section .text-container p, .second-section .text-container p, .third-section .text-container p, .fourth-section .text-container p{
    width: auto;
  }
  .fourth-section .lines{
    left: 90%;
    top: -3%;
    transform: translate(-90%, 3%);
  }
  .fourth-section .text-container .category .text{
    text-align: center;
  }
  .fifth-section .text-container h1{
    width: 300px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
  }
  .fifth-section .text-container{
    flex-direction: column;
  }
}
@media screen and (max-width: 425px){
  .intro .text-container{
    width: 320px;
  }
  .intro .text-container p{
    width: 230px;
  }
}
@media  screen and (max-width: 375px) {
  .intro .text-container p{
    width: 200px;
  }
  .first-section .pic-container, .second-section .pic-container, .fourth-section .pic-container{
    height: 500px;
  }
  .first-section .content, .second-section .content, .fourth-section .content{
    width: 100%;
  }
  .third-section .third-section-content{
    width: 90%;
  }
  .first-section .content h1, .second-section .content h1, .third-section .text-container h1, .fourth-section .text-container h1{
    width: auto;
  }
  .first-section .text-container p, .second-section .text-container p, .third-section .text-container p, .fourth-section .text-container p{
    width: auto;
  }
  .rectangle-style{
    width: 300px;
    top: 45%; 
  }
  .rectangle-style .rectangle{
    width: 100%;
  }
  .rectangle-inverted-style{
    width: 300px;
    top: 45%; 
  }
  .rectangle-inverted-style .rectangle{
    width: 100%;
  }
  .first-section{
    margin-bottom: 4rem;
  }
  .third-section .third-section-content .text-pic .wrapper-content{
    flex-direction: column;
  }
  .third-section .third-section-content .text-pic .wrapper-content .pic-content{
    margin: 0;
  }
  .third-section .third-section-content .text-pic .wrapper-content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
  }
  footer .content{
    width: 98%;
  }
}
@media screen and (max-width: 320px) {
  .intro .text-container{
    width: 260px;
  }
  .intro .text-container h1{
    font-size: 2.5em;
    line-height: 50px;
  }
}